.hero_wrapper {
  margin: 0 auto;
  padding: 0;
  max-width: 1280px;
}

.txt h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  font-size: 40px;
  text-shadow: 0px 0px 3px #fff;
  font-weight: 700;
  color: #fff;
}

.txt p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-top: 24px;
}

.hero_wrapper {
  max-width: 1280px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.content {
  padding: 40px 40px;
  border-radius: 26px;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: -3.013px 3.013px 3.013px 0px rgba(255, 255, 255, 0.39) inset,
    2.01px -2.01px 20px 0px rgba(214, 214, 214, 0.17) inset;
  backdrop-filter: blur(37.21466827392578px);
}

.content img {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
}

.container span {
  color: #fff;
  max-width: 15ch;
  text-align: center;
  padding-top: 8px;
}

.hero_wrapper::before {
  content: "";
  position: absolute;
  width: 200vh;
  height: 250px;
  max-width: 1280px;
  border-radius: 99px;
  background: linear-gradient(94deg, #9b51e0 2.84%, #3081ed 99.18%);
  filter: blur(70px);
  z-index: -1;
}

/* / HERO3 MOBILE 600px */
@media (max-width: 600px) {
  .txt p{
    margin: 0 auto;
    max-width: 30ch;
  }
  .content{
    width: 40px;
    margin: 0 auto;
  }
}
/* // HERO3 MOBILE 600px */
